<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYftmEMZAv5t9vYaO7Y00qoG4CGPvCb6E</string>
	<key>GCM_SENDER_ID</key>
	<string>907407832446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-fcdfb</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-fcdfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907407832446:ios:d84e0574c6e62fba4baf2f</string>
</dict>
</plist>